body {
  background-color: #282c34;
  color: white;
}
h1{
  justify-content: center;
  display: flex;
}
.body{
  margin-left: 50px;
}

/* .App-header {
  
  
  flex-direction: column;
  
  
  font-size: calc(10px + 2vmin);
  color: white;
} */

